{%extends 'base.html'%}

{%block main_block%}

<div class="container">
   <h1 class=" text-center my-4">Dashboard</h1>

   <div class="row">
    <div class="col-4 py-3">
      <h3 class="text-center">Filter by date</h3>
        <form action=""method="post">
          {%csrf_token%}

          {{form.as_p}}

          <button type="submit">fetch</button>
        </form>
    </div>
    <div class="col-4">
      <div class="my-3 d-flex justify-content-around">
        TotalExpense:{{expense.total}}
        TotalIncome:{{income.total}}
    </div>
        <canvas id="mychart" class="mb-5"></canvas>
    </div>
    <div class="col-4">
      <h4 class="text-center">monthly summary</h4>
     
      <canvas id="summarychart" height="300px" class="mb-5"></canvas>

    </div>
   </div>
  



</div>

{%endblock%}

{%block script_block%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const ctx = document.getElementById('mychart');
  
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ["income","expense"],
        datasets: [{
          label: '# of Votes',
          data: [{{income.total}},{{expense.total}}],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    const ctx1= document.getElementById('summarychart');
  
    var categoryChart = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: [{% for k in monthly_expenses.keys %}"{{ k }}",{% endfor %}],
                datasets: [
                    
                {
                    label: 'ExpenseTotal',
                    data: [{% for v in monthly_expenses.values %}{{ v }},{% endfor %}],
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },

                     
                {
                    label: 'income Totals',
                    data: [{% for v in monthly_incomes.values %}{{ v }},{% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                },


            
            ]
            },
            options: {
                animation: {
                    duration: 2000,
                    easing: 'easeInOutQuart'
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
</script>
{%endblock%}