{%extends 'base.html'%}

{%block main_block%}

   <div class="container d-flex justify-content-center">

        <div class="card w-50 mt-5">
            <div class="card-header text-center">
                <i class="fa-regular fa-note-sticky"></i> {{data.title|upper}}
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item"> <i class="fa-solid fa-indian-rupee-sign me-2"></i>{{data.amount}}</li>
            <li class="list-group-item"><i class="fa-solid fa-list me-2"></i> {{data.category}}</li>
            <li class="list-group-item"><i class="fa-solid fa-user me-2"></i> {{data.owner}}</li>
            <li class="list-group-item"><i class="fa-solid fa-sort me-2"></i>{{data.priority}}</li>
            <li class="list-group-item"><i class="fa-solid fa-calendar-days me-2"></i>{{data.created_date|date:"DdMY"}}</li>
            </ul>
        </div>
    </div>

{%endblock%}