{%extends 'base.html'%}

{%block main_block%}

{%load custom_filters%}
<div class="container">

    <div class="card" >
        <div class="card-header">
            <h3 class="text-center fw-bold">TotalExpense:{{expense_total.total}}</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <canvas id="myChart" class="w-100"></canvas>
                </div>
                <div class="col-4">
                  {%for cs in category_summary%}
                  {{cs.category}} {{cs.total}}
                  <div class="progress mb-3" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width:{{cs.total|percentage:expense_total.total}}%">{{cs.total|percentage:expense_total.total}}%</div>
                  </div>

                  {%endfor%}
                </div>
                <div class="col-4">category summary chart</div>
            </div>
        </div>



    </div>

</div>


{%endblock%}

{%block script_block%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for cs in category_summary%}"{{cs.category}}",{%endfor%}],
      datasets: [{
        label: '# of Votes',
        data: [{%for cs in category_summary%}"{{cs.total}}",{%endfor%}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

{%endblock%}